@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
:root {
  --neutrawhite: hsl(0, 0%, 100%);
  --neutraRS: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
  --nutmeg: hsl(14, 45%, 36%);
  --darkraspberry: #7b284f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Eggshell);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180vh;
}
section {
  padding: 0.8rem 0;
  width: 100%;
}

h2 {
  font-family: "Young Serif";
  font-weight: 400;
  color: var(--nutmeg);
}
.meal-ds h2 {
  color: hsl(24, 5%, 18%);
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0.8rem 0;
}
p {
  color: var(--Wenge-Brown);
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
p,
li {
  font-family: "Outfit";
}
h3 {
  font-family: "Outfit";
  font-size: 1rem;
  color: #7b284f;
}
ul,
ol {
  list-style-position: inside;
  padding-left: 0.5rem;
  width: 100%;
}
li {
  color: var(--Wenge-Brown);
  font-size: 1rem;
  margin: 0.5rem 0 0;
  width: 100%;
  line-height: 1.4rem;
}
li::marker {
  color: var(--nutmeg);
  font-weight: bold;
}

span {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--Wenge-Brown);
  padding-left: 10px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

main {
  background-color: var(--neutrawhite);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.8rem;
  border-radius: 1rem;
}
.meal-prep-time {
  background-color: var(--neutraRS);
  width: 100%;
  padding: 1.1rem;
  border-radius: 0.5rem;
}
.meal-ds h1 {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.8rem;
}

.ingredient,
.instruction {
  border-bottom: 1px solid var(--Light-Grey);
  margin-top: 0.5rem;
}

.nutrition h2 {
  margin-bottom: 0.5rem;
}
.nutrition table {
  font-family: "Outfit";
  font-weight: 400;
  color: var(--nutmeg);
  width: 100%;
  margin: 0.5rem;
  margin-bottom: 0;
}
.nutrition td {
  border-bottom: 1px solid var(--Light-Grey);
}
.nutrition tr:nth-child(4) td {
  border: none;
}
.nutrition tr,
.nutrition td {
  padding: 8px;
}
td:nth-child(1) {
  color: var(--Wenge-Brown);
}
td:nth-child(2) {
  font-weight: bold;
}
.nutrition {
  padding-bottom: 0;
}
